<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{78,12.5}</string>
		<string>{78,60.5}</string>
		<string>{126.5,12.5}</string>
		<string>{126.5,60.5}</string>
		<string>{78,12.5}</string>
		<string>{29.5,60.5}</string>
		<string>{29.5,12.5}</string>
		<string>{78,60.5}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{78,12.5}</string>
		<string>{78,60.5}</string>
		<string>{126.5,12.5}</string>
		<string>{126.5,60.5}</string>
		<string>{78,12.5}</string>
		<string>{29.5,60.5}</string>
		<string>{29.5,12.5}</string>
		<string>{78,60.5}</string>
	</array>
</dict>
</plist>
